@page
@model Sandbox.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
We added this functionality during the 1.4.1 Hotfix.
Here's a change that I probably won't merge back into Develop for quite a long time.